
.landing-image{

    animation: image_animation 1.5s ease 0s 1 alternate forwards;
	/* animation-range: 700px; */
	animation-timeline: view();
}

@keyframes image_animation {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

h1, h2, h3, p{
	animation: writeup 2s ease 0s 1 normal forwards;
	/* animation-timeline: view(); */

}

@keyframes writeup {
		0% {
			opacity: 0;
			transform: translateX(-250px);
		}
	
		100% {
			opacity: 1;
			transform: translateX(0);
		}
}

/* animation: display_anim 2s ease 0s 1 alternate forwards; */

@keyframes display_anim {
	0% {
		transform: scale(0);
		transform-origin: 50% 100%;
	}

	100% {
		transform: scale(1);
		transform-origin: 50% 100%;
	}
}

/* animation: work_anim 2s ease 0s 1 alternate forwards; */

@keyframes work_anim {
	0% {
		background-position: center bottom;
		background-size: 100%;
	}

	100% {
		background-position: center bottom;
		background-size: 150%;
	}
}


.btn , .box{

    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: scale(0);
	}

	89% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	95% {
		animation-timing-function: ease-in;
		transform: scale(0.95);
	}

	100% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}