@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.home{
    font-family: space Grotesk, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home h1{
    font-family: space Grotesk, monospace;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 0px;
}

.home p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-align: left;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
}

.f-btn{
    background: #000;
    color: #fff;
}

.s-btn{
    border: 1px solid #000;
}

.landing-image{
    position: relative;
    margin-top: 20px;
    display: none;
}

.hero_image{
    width: 450px;
    height: auto;
}

.hero_pattern{
    z-index: 100;
    position: absolute;
    top: 100px;
    left: -10px;
    width: 120px;
    height: auto;
}

.writeup_animation{

}


.show_writeup{
    animation: write_up 2s ease 0s 1 normal forwards;
    
}

@keyframes write_up {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.image_animation{

}

.show_image{

    animation: image_animation 1.5s ease 0s 1 alternate forwards;
}

@keyframes image_animation {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

/* xs */
@media (min-width: 475px) {
    .home h1{
        font-size: 2.6rem;
    }

    .buttons{
        flex-direction: row;
        gap: 10px;
        width: auto;
    }

    .landing-image{
        margin-top: 20px;
        display: block;
    }

}

/* sm */
@media (min-width: 640px) {
    .home h1{
        font-size: 2.8rem;
    }

    .hero_image{
    width: 550px;
}
}

/* md */
@media (min-width: 768px) {

    .home h1{
        font-size: 3.2rem;
        max-width: 640px;
    }

    .home p{
        max-width: 640px;
    }

    .hero_image{
    width: 650px;
}

}

/* lg */
@media (min-width: 1024px) {
    .home{
        flex-direction: row;
    }

    .home h1{
        font-size: 3.8rem;
        font-weight: 600;
        max-width: 640px;
    }

    .hero_image{
    width: 600px;
}
}

/* xl */
@media (min-width: 1280px) {

    .home h1{
        font-size: 4.5rem;
        font-weight: 700;
        max-width: 640px;
        line-height: 75px;
    }


    .hero_image{
    width: 600px;
}

.hero_pattern{
    width: 250px;
    left: -100px;
}

}

/* 2xl */
/* @media (min-width: 1536px) {} */