.navbar{
    align-items: center;
    margin: 10px 10px;
    /* max-width: 600px; */
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.nav_logo{
    width: 50px;
    cursor: pointer;
    
}

.menu{
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.mobile_bar{
    position: relative;
    /* padding: 20px; */
    background: #ffffff34;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.mobile_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile_bar button{
    border: 1px solid #000;
        background: #fff;
        margin: auto;
        width: 50%;       
}

.mobile_bar button:hover{
    background: #000;
    color: #fff;
    transition: 15ms ease-in-out;
}

.big_logo{
    display: none;
    width: 50px;
    cursor: pointer;
}

.nav_animation{
  
}

.nav_drop{
    animation: nav_drop 1s ease 0s 1 normal forwards;
    animation-range: cover 200px;

}

@keyframes nav_drop {
	0% {
		transform: scaleY(0.4);
		transform-origin: 100% 0%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 100% 0%;
	}
}

.desk_bar{
    display: none;
}

.list{
    cursor: pointer;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .desk_bar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .desk_bar button{
        border: 1px solid #000;
        background: #fff;
    }

    .desk_bar button:hover{
        background: #000;
        color: #fff;
        transition: 15ms ease-in-out;
    }

    .mobile_bar{
        
        display: none;
    }

    .menu{
        display: none;
    }

    .big_logo{
        display: block;
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


