.navbar{
    align-items: center;
    margin: 10px 10px;
    /* max-width: 600px; */
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
    cursor: pointer;
}

.nav_logo{
    width: 50px;
    cursor: pointer;
    
}

.menu{
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.mobile_bar{
    position: relative;
    /* padding: 20px; */
    background: #ffffff34;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.mobile_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile_bar button{
    border: 1px solid #000;
        background: #fff;
        margin: auto;
        width: 50%;
}

.big_logo{
    display: none;
    width: 50px;
    cursor: pointer;
}

.close_menu{
  
}

.desk_bar{
    display: none;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .desk_bar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .desk_bar button{
        border: 1px solid #000;
        background: #fff;
    }

    .mobile_bar{
        display: none;
    }

    .menu{
        display: none;
    }

    .big_logo{
        display: block;
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


