.display_box{
    font-family: space Grotesk, monospace;
}

.box_container{
    background: #000;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.box_container h2{
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 25px;
}

.boxs{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-evenly;    
}

.boxs .box{
    width: 120px;
    height: auto;
    margin: 0;
}

.box_animation{

}

.show_box{
    animation: box 1s ease 0s 1 normal forwards;
    animation-range: cover 200px;

}

@keyframes box {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}

.header_animation{

}

.show_header{
	animation: header 2s ease 0s 1 normal forwards;
    animation-range: cover 200px;
    
}

@keyframes header {
	0% {
        
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* xs */
@media (min-width: 475px) {
    

    .boxs .box{
        width: 180px;
    }
    
}

/* sm */
@media (min-width: 640px) {

    .boxs .box{
        width: 170px;
    }
}

/* md */
@media (min-width: 768px) {
    .boxs .box{
        width: 200px;
    }
    .box_container{
    padding: 40px;
    }
}

/* lg */
@media (min-width: 1024px) {

    .box_container h2{
        font-size: 3rem;
    }

    .boxs{
        justify-content: center;
    }
    .boxs .box{
        width: 180px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .boxs .box{
        width: 120px;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
